:root {
  --left-column-width: 35%;
  --right-column-width: 55%;
  --black: #000000;
  --dark-gray: #666666;
  --light-gray: #eeeeee;
  --white: #ffffff;
}

body {
  font-family: sans-serif;
  max-width: 80em;
  margin: 2em auto;
  box-shadow: 0 0.3em 1em var(--black);
}

a {
  color: var(--black);
}

header,
main {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: var(--light-gray);
  align-items: center;
}

header nav {
  width: 100%;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 0;
  font-size: small;
  text-transform: uppercase;
}

header nav ul li {
  padding-left: 1em;
  padding-right: 1em;
}

header nav ul li:hover {
  font-size: medium;
}

header nav ul a {
  text-decoration: none;
}

header img {
  border-radius: 50%;
  max-width: 12em;
}

header h1 {
  text-transform: uppercase;
  font-size: xx-large;
  -webkit-text-stroke: 1px var(--dark-gray);
  -webkit-text-fill-color: var(--white);
}

.tooltip figcaption {
  visibility: hidden;
  font-style: italic;
  font-size: x-small;
}

.tooltip:hover figcaption {
  visibility: visible;
}

.left {
  flex: 1 1 var(--left-column-width);
}

.right {
  flex: 1 1 var(--right-column-width);
}

header div,
header div.left figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header div.right h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

main {
  padding-left: 2em;
  padding-right: 2em;
}

main section h2 {
  margin-top: 1em;
}

ul {
  line-height: 2em;
}

ul.contacts {
  list-style: none;
  line-height: 3em;
  padding-left: 0;
}

ul.contacts li img {
  max-width: 1em;
  margin-right: 1em;
}

pre,
pre code {
  margin-top: 0;
  padding-top: 0;
}

footer {
  text-align: center;
  background-color: var(--light-gray);
  padding-top: 1em;
  padding-bottom: 1em;
}

footer img {
  max-height: 1em;
}
